.auth {
    width: 100%;
    background: #f8f8f8;
    padding-top: 29px;
    padding-bottom: 150px;
    min-height: 450px;
}
.auth_row
{
    margin-top: 44px;
}
.header_padding
{
    width: 100%;
    height: 179px;
    background: #f8f8f8;
}
.user i {
    line-height: 25px !important;
}
.dropdown-item {
    font-size: 14px;
    font-weight: 600;
    color: rgba(0,0,0,0.45);
}
.dropdown-item:active {
    background: #2e21df;
}
.e-btn {
    background: #2e21df;
    color: #ffffff;
    border-radius: 3px;
    font-size: 14px;
}

.e-btn:hover
{
    cursor: pointer;
    box-shadow: 0px 10px 40px rgba(0,0,0,0.3);
    background: #2e21df;
}

.btn-link, .btn-link:hover {
    color: #2e21df;
    font-size: 14px;
}
.form-control:focus {
    border-color: #2e21df;
    box-shadow: 0 0 0 0.2rem rgba(11, 50, 255, 0.25);;
}
.course_image {
    height: 180px;
}

.form-control {
    color: rgba(0,0,0,0.4) !important;
    font-size: 14px !important;
}
.preview-avatar {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.pagination li a, .pagination li span{
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination .active{
    background-color: #2e21df;
}
.pagination .active span {
    color: #fff;
}
.pagination li a:hover:not(.active) {background-color: #ddd;}

.courses {
    min-height: 450px;
}
.intro_image img {
    max-width: 100%;
}
.nav-tabs .nav-link {
    height: 60px;
    font-size: 14px;
    color: #000000;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.075em;
    cursor: pointer;
    padding-left: 21px;
    padding-right: 20px;
    border-bottom: solid 3px transparent;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-link:hover {
    border: none;
    border-bottom: solid 3px #2e21df !important;
    background-color: #f1f1f1 !important;
}
.instructor_name {
    padding-left: 40px;
}
.lecture_link {
    color: rgba(0,0,0,0.5);
}
.lecture_link:hover {
    color: gray;
}

.lecture_link .active {
    font-weight: bold;
}

.lecture_title {
    font-size: 16px;
    font-weight: bold;
    color: #000;
}
object {
    height: 500px;
    width: 100%;
}


.template-checkbox input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.template-checkbox label {
    position: relative;
    cursor: pointer;
}

.template-checkbox label:before {
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #2e21df;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
}

.template-checkbox input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid #2e21df;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.card-header {
    background: #d3d3d3;
}

.cur_item_title_before {
    background-color: #2e21df;
    border-radius: 50%;
    color: #fff;
    font-size: .8667rem;
    height: 23px;
    width: 23px;
    display: inline-block;
    text-align: center;
}
.cur_item_title {
    display: inline-block;
}
.cur_contents ul li i {
    color: #2e21df !important;
}
.cur_contents ul li ul {
    padding-left: 10px !important;
}
.cur_contents ul li ul li {
    border-bottom: none !important;
    padding-left: 10px;
}
.sidebar_cur_contents ul li{
    padding: 5px 20px;
}
.sidebar_cur_contents ul li a {
    padding-left: 10px;
}
